In [3]:
import pandas as pd 

df = pd.read_csv('./data/Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [22]:
g1 = df.groupby('Base Flavor')  # This groups the data by 'Base Flavor' column
g1.size()  # This gives the size of each group
g1.mean(numeric_only=True)  # Shows the mean of numeric columns for each group
g1.describe()  # Provides descriptive statistics for each group
g1.sum(numeric_only=True)  # Sums up numeric columns for each group
g1.min(numeric_only=True)  # Minimum value in numeric columns for each group
g1.max(numeric_only=True)  # Maximum value in numeric columns for each group
g1.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [ ]:
g1.agg({'Flavor Rating': ['mean','count','max','min','sum'], 'Texture Rating': 'count' })  # aggregates multiple statistics for specified columns

            Flavor Rating                        Texture Rating
                     mean count   max  min   sum          count
Base Flavor
Chocolate             8.4     3   8.8  8.2  25.2              3
Vanilla               5.7     6  10.0  2.3  34.2              6

In [30]:
g2 = df.groupby(['Base Flavor', 'Flavor'])  # This groups the data by both 'Base Flavor' and 'Flavor' columns
g2.mean(numeric_only = True) # Shows the mean of numeric columns for each group

                                    Flavor Rating  Texture Rating  \
Base Flavor Flavor
Chocolate   Chocolate                         8.8             7.6
            Chocolte Fudge Brownie            8.2             7.1
            Rocky Road                        8.2             7.0
Vanilla     Cake Batter                       6.5             6.0
            Cookie Dough                      6.9             6.5
            Mint Chocolate Chip              10.0             8.0
            Neapolitan                        3.8             5.0
            Pistachio                         2.3             3.4
            Vanilla                           4.7             5.0

                                    Total Rating
Base Flavor Flavor
Chocolate   Chocolate                       16.6
            Chocolte Fudge Brownie          15.3
            Rocky Road                      15.2
Vanilla     Cake Batter                     12.5
            Cookie Dough                    13.4
            Mint Chocolate Chip             18.0
            Neapolitan                       8.8
            Pistachio                        5.7
            Vanilla                          9.7