In [1]:
import pandas as pd

In [27]:
df= pd.read_csv('./data/titanic.csv')
df.head()#it gives the first 5 rows of the data
df.tail()#it gives the last 5 rows of the data
df.info()#it gives the information about the data
df.describe()#it gives the summary of the data
df.shape  #it gives the shape of the data`
df.columns  #it gives the columns of the data
df.dtypes  #it gives the data types of the columns
df.memory_usage()  #it gives the memory usage of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

Index           132
PassengerId    3344
Survived       3344
dtype: int64

In [ ]:
df.loc[3,['PassengerId','Survived']] # it gives the PassengerId and Survived columns of the 4th row (index 3)
df.loc[:,'PassengerId']# it gives the PassengerId column of all rows
df.loc[3:10,['PassengerId','Survived']]# it gives the PassengerId column of rows from index 3 to 10

    PassengerId  Survived
3           895         0
4           896         1
5           897         0
6           898         1
7           899         0
8           900         1
9           901         0
10          902         0